.suss{
    width: 62.5%;
    margin: auto;
    border:1px dashed rgba(200,200,200,1);
    text-align: center;
    min-width: 662px;
}
.suss_box{
    width:62.5%;
    max-width: 1200px;
    margin: auto; 
    margin-top: 88px  ;
    margin-bottom: 163px
}
.suss p{
    font-size: 14px;
    color:#ABABAB;
    margin-bottom: 10px
}
.span1{
    width:15px;
height:15px;
background:rgba(200,200,200,1);
border-radius:50%;
}
.span2{
    width:137px;
height:3px;
background:rgba(200,200,200,1);
}
.span3{
    width:30px;
height:30px;
background:rgba(58,153,253,1);
border-radius:50%;
color: #fff;
line-height: 30px
}
.suss_box1{
    display: flex;
    justify-content: space-between;
    width: 66%;
    margin: auto;
    margin-top: 20px;
    flex-wrap: wrap
}
.suss_box1 div{
    margin: auto 10px
}
.jg{
    background: url("img/认证/jx3.png") no-repeat;
    width: 92%;
    margin: auto;
    line-height: 35px;
    text-align: left;
    vertical-align:top
}
.jg span{
    font-size: 14px
}
.jg img{
    vertical-align: middle;
    margin-top: -5px;
    margin-left: 20px
}
.name{
    display: flex;
    width: 92%;
    margin: auto;
    margin-top: 20px
}
.name input,.phone input,.maill input{
    width: 58%;
    font-size: 14px;
    padding-left: 20px;
    border:1px dashed #999;
    margin-left: 3%
}
.name p,.phone p,.maill p{
    width: 25%;
    text-align: left;
    color:#333333
}
.name p span,.phone p span,.maill p span{
    color:red;
    display: inline-block;
    margin-right: 10px
}
.phone{
    display: flex;
    width: 92%;
    margin: auto;
    margin-top: 30px
}
.maill{
    display: flex;
    width: 92%;
    margin: auto;
    margin-top: 45px 
}
.maill div p{
    width: 100%
}