*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    font-family:MicrosoftYaHei;
}
.header_list{
    width: 100%;
    border-bottom: 1px solid red;
    font-size: 18px;
    line-height: 65px;
    border-bottom: 1px solid #ccc;
    box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.21);
}
.header{
    width: 62.5%;
    margin: auto; 
    max-width: 1200px; 
}
.header img{
    margin-right: 50px;
    width: 46px;
    height: 46px;
    margin-top: 10px
}
.left{
    float: left;
    display: flex;
}
.right{
    float: right;
    display: flex;
    text-align: right
}
.left div,.right div{
    float: left;
    margin-right: 60px
}
.p1{
    font-size: 14px;
    color:#333333;
    position: relative;
    top:-10px
}
.p2{
    font-size: 16px;
    width: 95%;
    margin: auto;
    padding-top: 15px;
    color:rgba(51,51,51,1);
}
.p3{
    font-size: 20px;
    padding-top: 10px
}
.p4{
    margin: auto;
    text-align: center;
    font-size: 38px;
    margin-top: 50px
}
.right div{
    margin-right: 0;
    color:#ccc;
    margin-left: 50px
}
.clearfix{
    clear: both;
    content: '';
    display: block
}
.banner{
    width: 86%;
    margin: auto;
    max-width: 1650px;
}
.banner img{
    width: 100%
}
.creat{
    width: 62.5%;
    margin: auto;
    display: flex;
    max-width: 1200px;
}
.creat_item{
    width: 33%;
    padding-right: 20px;
    padding-top: 10px;
    margin-left: 10px
}
.creat_item1{
   float: left;
    width: 20%
}
.creat_item1 img{
    width: 70%;
}
.creat_item2{
    float: left;
    width: 80%;
    border-right: 1px solid #ccc;
    padding-right: 10%;
    box-sizing: border-box;
}
.text_list{
    width: 100%;
    text-align: center;
    margin-top: 3%
}
.text_p1{
    text-align: center;
    font-size: 26px;
    padding: 1%;
    font-size: 38px
}
.text_p2{
    text-align: center;
    color:#616161
}
ul,li{
    list-style: none
}
.creat1{
    width:70%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top:50px;
    max-width: 1200px;
}
.creat1 li{
    width: 20%
}
.creat1 img{
    margin: auto;
    display: block
}
.release{
    background: transparent;
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 116px;
}
.release button{
    border: 1px solid #348EFE;
    width: 10%;
    height: 50px;
    background: #fff;
    color:#348EFE;
}
.Apllication{
    background: url("img/首页/ty1.png") no-repeat center 42%;
    display: flex;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
    margin-top:50px;
    max-width: 1200px;
}
.item_1 p,.item_3 p{
    background: url("img/首页/ty7.png") no-repeat left center;
    padding-left: 20px;
    margin-top:10px;
    margin-bottom: 10px 
}
.item_2 p,.item_4 p{
    background: url("img/首页/ty7.png") no-repeat right center;
    padding-right: 20px;
    margin-top:10px;
    margin-bottom: 10px 
}
.item_1,.item_2,.item_3,.item_4{
    width: 50%;
}
.item_2,.item_4{
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box
}
.item_1{
    background: url("img/首页/yjjx1.png") no-repeat  right center;  
    height: 223px;
}
.item_2{
    background: url("img/首页/yjjx2.png") no-repeat right bottom;
    height: 243px
}
.item_3{
    background: url("img/首页/yjjx2.png") no-repeat left top;
    padding-top:20px
}
.item_4{
    background: url("img/首页/yjjx1.png") no-repeat left 25%;
    padding-top:20px
}
.Apllication h1{
    font-size: 30px
}
.h1{
    width:152px;
height:38px;
font-size:38px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(51,51,51,1);
line-height:28px;
margin: auto
}
.h2{
    width:320px;
height:19px;
font-size:18px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(51,51,51,1);
line-height:28px;
margin: auto;
margin-top: 20px;
margin-bottom: 50px
}
.price{
    width: 60%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    max-width: 1200px;
}
.month,.quarter,.year{
    display: inline-block;
    width: 25%;
    line-height: 90px;
    text-align: center;
}
.price span{
    font-size: 34px;
    color: #fff;
    width: 100%;
    display: block;
    flex-wrap: nowrap;
    height: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.price p{
    width:162px;
    height:118px;
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:40px;
    margin: auto
}
.price .pp{
    width:67px;
height:33px;
font-size:40px;
font-family:MicrosoftYaHei-Bold;
font-weight:bold;
color:rgba(51,51,51,1);
line-height:50px;
background:linear-gradient(270deg,rgba(161,196,253,1) 0%, rgba(89,203,255,1) 100%);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent
    
}
.price .pp1{
    width:90px;
    height:34px;
    font-size:40px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:50px;
    background:linear-gradient(270deg,rgba(55,236,186,1) 0%, rgba(114,175,211,1) 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.price .pp2{
    width:90px;
height:33px;
font-size:40px;
font-family:MicrosoftYaHei-Bold;
font-weight:bold;
color:rgba(51,51,51,1);
line-height:50px;
background:linear-gradient(0deg,rgba(72,198,239,1) 0%, rgba(111,134,214,1) 100%);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
.month span{
    background:linear-gradient(0deg,rgba(161,196,253,1),rgba(89,203,255,1));
}
.quarter span{
    background:linear-gradient(0deg,rgba(55,236,186,1),rgba(114,175,211,1));
}
.year span{
    background:linear-gradient(0deg,rgba(72,198,239,1),rgba(111,134,214,1));
}
.p5{
    width:152px;
height:36px;
font-size:38px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(51,51,51,1);
line-height:28px;
margin: auto;
margin-top: 80px;
margin-bottom: 50px
}
.feedback{
    width: 62.5%;
    margin: auto;
    margin-bottom: 60px;
    max-width: 1200px;
}
.feedback input{
    width: 45%;
    height: 70px;
    font-size: 24px;
    padding-left: 20px;
    color:rgba(200,200,200,1);
    border:1px solid rgba(200,200,200,1);
    box-sizing: border-box;
    border:1px dashed  rgba(200,200,200,1);
    margin-bottom: 40px
}
.feedback .nr{
    width: 100%;
    height: 271px;
    border:1px dashed  rgba(200,200,200,1);
    margin-bottom: 0
}
.tj{
    padding: 5px;
    border:1px dashed  rgba(200,200,200,1);
    margin-bottom: 40px
}
.p6{
    width:152px;
height:36px;
font-size:38px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(51,51,51,1);
line-height:28px;
margin: auto
}
.partner{
    display: flex;
    width: 62.5%;
    margin: auto;
    flex-wrap: wrap;
    margin-top:50px ;
    margin-bottom: 200px;
    max-width: 1200px;
}
.partner div{
    display: inline-block;
    margin-right: 4%;
    margin-bottom: 10px;
    width: 16.33%
}
.partner div img{
    width: 100%
}
.partner div:nth-child(5n){
    margin: 0
}
.tabbar{
    width: 62.5%;
    margin: auto;
    display: flex;
    padding-bottom: 122px;
    max-width: 1200px;
}
.db{
    width:100%;
    background:url("img/首页/tabbar.png")
}
.tabbar_list_1{
    width: 25%;
    padding-top: 50px
}
.tabbar_list_2{
    width: 75%;
    padding-top: 50px;
    display: flex;
    color:#fff
}
.tabbar_list_2 li{
    width: 20%
}
.tabbar_list_2 li p{
    position: relative;
    top:-15px
}
.tabbar_list_2 h6{
    height:19px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:28px;
    margin-bottom: 20px
}
.tabbar_list_2 li p{
    font-size: 16px;
    margin-top: 10px
}