.grheader{
    display: flex;
    background: #5BADF2;
}
.grheader div{
    display: inline-block
}
.header_list{
    background: #5BADF2
}
.gr_item1{
    width: 22%;
    text-align: center;
}
.gr_item1 img{
    width: 96%;
    margin-top:8px
}
.gr_item2{
    width: 78%;
    padding-right: 4%;
    position: relative;
    box-sizing: border-box;
    text-align: right;
}
.gr_item2 img{
    width: 50%;
    vertical-align: middle
}
.gr_item_1,.gr_item_2,.gr_item_3{
    margin: 10px 0
}
.details_left{
    width: 30%;
    margin-top: 30px;
}
.details_left ul li img{
    width: 11%
}
.details_left ul li span{
    font-size: 9px
}
.sz{
margin:0 16px;
line-height: 58px;
font-size:9px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(110,110,110,1);
border-bottom:1px dashed  #ccc;
margin-bottom: 12.5px
}
.details_right{
    width:70%;
    background: #EBEBEB;
    padding-bottom: 50px
}
.details{
    display: flex;
    padding-bottom:180px 
}
.right_item{
    width: 96%;
    margin: auto;
    padding-bottom: 80px;
    box-shadow:0px 0px 8px 0px rgba(179,179,179,0.7);
    background: #fff
}
.right_item .right_item_1 span:first-child{
    display: inline-block;
    width: 23%;
    text-align: center;
    font-size:8px;
    line-height: 40px;
    color:rgba(51,51,51,1);
}
.right_item_1{
    position: relative;
    top:30px;
    height: 50px
}
.right_item_1_1{
    display: inline-block;
    width: 36%;
    text-align: center;
    position: absolute;
    top:7%;
    font-size: 8px
}
.right_item_1_2{
    position: absolute;
    left: 69%;
    top: 15%;
    display: inline-block;
    border:1px solid #348EFE;
    font-size:8px;
    color:#348EFE;
    padding: 0 10px
}
.db{
    position: fixed;
    bottom: 0
}